/* #region CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    /* outline: red 1px solid; */
}

/* #endregion */

/* #region FONT DECLARATIONS */

/* roboto-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('Assets/fonts/roboto-v30-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-100italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('Assets/fonts/roboto-v30-latin-100italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('Assets/fonts/roboto-v30-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('Assets/fonts/roboto-v30-latin-300italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('Assets/fonts/roboto-v30-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('Assets/fonts/roboto-v30-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('Assets/fonts/roboto-v30-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('Assets/fonts/roboto-v30-latin-500italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('Assets/fonts/roboto-v30-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('Assets/fonts/roboto-v30-latin-700italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('Assets/fonts/roboto-v30-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('Assets/fonts/roboto-v30-latin-900italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* #endregion */

:root {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    font-family: 'Roboto';
}

/* #region ****************************  HEADER  **************************************** */

header {
    background-color: #ffffff;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-family: 'Roboto';
    box-shadow: 10px 5px 7px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#search-form {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 20fr;
    padding: 30px;
    align-items: center;
}

#search-box {
    width: 90%;
    height: 30px;
    background-color: #d7eaea;
    border: none;
    border-radius: 15px;
}

#search-form svg {
    height: 30px;
}


#profile-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    height: 100%;
    align-items: center;

}

#profile-section svg {
    height: 30px;
    justify-self: right;
}

#profile-section img {
    height: 60px;
    justify-self: center;
}

#username-small {
    justify-self: left;
    font-size: 1.25rem;
    font-weight: 700;
}

#welcome-heading {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 45px;
    padding-bottom: 15px;
}

#welcome-heading img {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    align-self: center;
    min-height: 100%;
}

#hi-there {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-weight: 700;
    align-self: self-end;
}

#username-large {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-weight: 800;
    font-size: 1.5rem;
}

#action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: left;
    padding-bottom: 15px;
    font-weight: 900;
}

.button {
    background-color: #af3e4d;
    color: white;
    border: none;
    width: 110px;
    height: 40px;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 1.05rem;
}

#welcome-heading img {
    height: 50px;
}

/* #endregion ********************************************************************** */

/* #region nav **************************  NAV  ************************************* */

nav {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    background-color: #af3e4d;
    color: white;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.75fr 4fr;
}

.logo-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.logo-container svg {
    fill: white;
    height: 50px;

    align-self: center;
    justify-self: center;
}

.logo-container h1 {
    font-size: 2rem;
    font-weight: 500;
    align-self: center;
}

ul {
    padding-left: 30px;
}

.nav-item {
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-size: 1.3rem;
    font-weight: 500;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-item svg {
    fill: white;
    height: 25px;
}

/* #endregion ********************************************************************** */

/* #region main ***************************  MAIN  ************************************** */

main {
    background-color: #d7eaea;
    display: grid;
    grid-template-columns: 2.75fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding: 30px 30px 60px 30px;
}

.card {
    box-shadow: 10px 5px 7px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
}

.project-card {
    border-left: 10px solid #F79D5C;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
}

.project-name {
    font-weight: 700;
    font-size: 1.1rem;
}

#your-projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 1fr 30px 1fr;
}

.section-title {
    grid-column: 1 / 3;
}

#project-grid-container {
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.project-icons svg {
    height: 30px;
}

#announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
}

#trending {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
}


/* #endregion ********************************************************************** */